<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51137072788-t29p1vervq9ntkm6jpn28hpca7qht7fv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51137072788-t29p1vervq9ntkm6jpn28hpca7qht7fv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>51137072788-mtvm4pje8s8ftqnnonivljh5snf7pcc3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmI9bxxaqCkVEdGAE0rlLu5IQj8W8yfWg</string>
	<key>GCM_SENDER_ID</key>
	<string>51137072788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greylabs.app</string>
	<key>PROJECT_ID</key>
	<string>loginpasswordless</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpasswordless.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51137072788:ios:5cd267978e90ce7dc6ae81</string>
</dict>
</plist>